USE [master]
GO
/****** Object:  Database [goal_tracker]    Script Date: 07/28/2026 12:30:22 PM ******/
CREATE DATABASE [goal_tracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'goal_tracker', FILENAME = N'D:\projects\Goal-Tracker\Database\goal_tracker.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'goal_tracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\goal_tracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [goal_tracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [goal_tracker]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [varchar](20) NOT NULL,
	[DepartmentName] [nvarchar](150) NOT NULL,
	[BusinessUnit] [nvarchar](150) NULL,
	[DepartmentHead] [varchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[MobileNo] [varchar](20) NULL,
	[DepartmentID] [int] NOT NULL,
	[Designation] [nvarchar](150) NULL,
	[Grade] [nvarchar](50) NULL,
	[Post] [nvarchar](100) NULL,
	[ReportingManagerID] [int] NULL,
	[HODID] [int] NULL,
	[BusinessHeadID] [int] NULL,
	[Role] [varchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[IsPasswordChanged] [bit] NOT NULL,
	[DefaultPasswordFlag] [bit] NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[FailedLoginCount] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[EmployeeName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Mobile] [varchar](20) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Designation] [nvarchar](150) NOT NULL,
	[Location] [nvarchar](150) NOT NULL,
	[JoiningDate] [date] NOT NULL,
	[ReportingManagerID] [int] NULL,
	[HODID] [int] NULL,
	[BusinessHeadID] [int] NULL,
	[CFOID] [int] NULL,
	[UserRole] [varchar](50) NOT NULL,
	[EmploymentStatus] [varchar](20) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwEmployeeMaster]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwEmployeeMaster]
AS

SELECT

E.EmployeeID,
E.EmployeeCode,
E.EmployeeName,
E.Email,
E.Mobile,

D.DepartmentName,

E.Designation,

E.Location,

E.JoiningDate,

RM.Username AS ReportingManager,

HOD.Username AS HOD,

BH.Username AS BusinessHead,

CFO.Username AS CFO,

E.UserRole,

E.EmploymentStatus,

E.Remarks

FROM Employees E

INNER JOIN Departments D
ON D.DepartmentID=E.DepartmentID

LEFT JOIN Users RM
ON RM.UserID=E.ReportingManagerID

LEFT JOIN Users HOD
ON HOD.UserID=E.HODID

LEFT JOIN Users BH
ON BH.UserID=E.BusinessHeadID

LEFT JOIN Users CFO
ON CFO.UserID=E.CFOID

WHERE E.IsDeleted=0;
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ModuleName] [varchar](100) NOT NULL,
	[Action] [varchar](100) NOT NULL,
	[ReferenceID] [bigint] NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[IPAddress] [varchar](50) NULL,
	[PerformedDate] [datetime] NOT NULL,
	[ReferenceCode] [varchar](50) NULL,
	[ActionStatus] [varchar](20) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessHeadRatings]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessHeadRatings](
	[BusinessHeadRatingID] [bigint] IDENTITY(1,1) NOT NULL,
	[GoalID] [bigint] NOT NULL,
	[Quarter] [varchar](2) NOT NULL,
	[Rating] [decimal](3, 1) NOT NULL,
	[FinalRating] [decimal](3, 1) NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[ReviewedBy] [int] NOT NULL,
	[ReviewedDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BusinessHeadRatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BusinessHeadRatings_Goal_Quarter] UNIQUE NONCLUSTERED 
(
	[GoalID] ASC,
	[Quarter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CFORatings]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFORatings](
	[CFORatingID] [bigint] IDENTITY(1,1) NOT NULL,
	[GoalID] [bigint] NOT NULL,
	[Quarter] [varchar](2) NOT NULL,
	[Rating] [decimal](3, 1) NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[ReviewedBy] [int] NOT NULL,
	[ReviewedDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CFORatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CFORatings_Goal_Quarter] UNIQUE NONCLUSTERED 
(
	[GoalID] ASC,
	[Quarter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeHierarchy]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeHierarchy](
	[HierarchyID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ReportingManagerID] [int] NOT NULL,
	[HODID] [int] NOT NULL,
	[BusinessHeadID] [int] NOT NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
	[IsCurrent] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CFOID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HierarchyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogs]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogs](
	[ErrorID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ModuleName] [varchar](100) NOT NULL,
	[APIName] [varchar](200) NULL,
	[ErrorMessage] [nvarchar](max) NOT NULL,
	[StackTrace] [nvarchar](max) NULL,
	[IPAddress] [varchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoalHistory]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoalHistory](
	[GoalHistoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[GoalID] [bigint] NOT NULL,
	[Action] [varchar](30) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[PerformedBy] [int] NOT NULL,
	[PerformedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GoalHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[GoalID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[GoalNumber] [int] NOT NULL,
	[GoalTitle] [nvarchar](500) NOT NULL,
	[GoalDescription] [nvarchar](max) NULL,
	[Measurability] [nvarchar](max) NULL,
	[JointAccountability] [nvarchar](max) NULL,
	[Weightage] [decimal](5, 2) NOT NULL,
	[Priority] [varchar](20) NOT NULL,
	[Timeline] [date] NOT NULL,
	[MeetPerformance] [nvarchar](max) NULL,
	[ExceedPerformance] [nvarchar](max) NULL,
	[ValidationSource] [nvarchar](max) NULL,
	[CrossFunctionalGoal] [bit] NOT NULL,
	[GoalCategory] [nvarchar](100) NULL,
	[GoalStatus] [varchar](50) NOT NULL,
	[DraftVersion] [int] NOT NULL,
	[ParentGoalID] [bigint] NULL,
	[SubmittedDate] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL,
	[CancelledDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoalSubGoals]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoalSubGoals](
	[SubGoalID] [bigint] IDENTITY(1,1) NOT NULL,
	[GoalID] [bigint] NOT NULL,
	[SubGoalNo] [int] NOT NULL,
	[SubGoalTitle] [nvarchar](500) NOT NULL,
	[SubGoalDescription] [nvarchar](max) NULL,
	[Weightage] [decimal](5, 2) NOT NULL,
	[Target] [nvarchar](max) NULL,
	[Status] [varchar](30) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubGoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HODRatings]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HODRatings](
	[HODRatingID] [bigint] IDENTITY(1,1) NOT NULL,
	[GoalID] [bigint] NOT NULL,
	[Quarter] [varchar](2) NOT NULL,
	[Rating] [decimal](3, 1) NOT NULL,
	[AchievementPercentage] [decimal](5, 2) NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[ReviewedBy] [int] NOT NULL,
	[ReviewedDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HODRatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HODRatings_Goal_Quarter] UNIQUE NONCLUSTERED 
(
	[GoalID] ASC,
	[Quarter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[LoginHistoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogoutTime] [datetime] NULL,
	[IPAddress] [varchar](50) NULL,
	[Browser] [nvarchar](100) NULL,
	[OperatingSystem] [nvarchar](100) NULL,
	[Device] [nvarchar](100) NULL,
	[Status] [varchar](20) NOT NULL,
	[SessionID] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[ReferenceId] [int] NULL,
	[ReferenceType] [nvarchar](50) NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordHistory]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordHistory](
	[PasswordHistoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[ChangedBy] [int] NOT NULL,
	[ChangedDate] [datetime] NOT NULL,
	[IPAddress] [varchar](50) NULL,
	[IsDefaultPassword] [bit] NOT NULL,
	[PasswordVersion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PasswordHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](100) NOT NULL,
	[PermissionName] [nvarchar](150) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[MenuName] [nvarchar](100) NOT NULL,
	[MenuUrl] [nvarchar](250) NULL,
	[MenuIcon] [nvarchar](100) NULL,
	[ParentPermissionId] [int] NULL,
	[DisplayOrder] [int] NOT NULL,
	[CanView] [bit] NOT NULL,
	[CanCreate] [bit] NOT NULL,
	[CanEdit] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[CanApprove] [bit] NOT NULL,
	[CanExport] [bit] NOT NULL,
	[IsMenu] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuarterlyUpdates]    Script Date: 07/28/2026 12:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuarterlyUpdates](
	[QuarterUpdateID] [bigint] IDENTITY(1,1) NOT NULL,
	[GoalID] [bigint] NOT NULL,
	[Quarter] [varchar](2) NOT NULL,
	[ProgressPercentage] [decimal](5, 2) NOT NULL,
	[Achievements] [nvarchar](max) NULL,
	[Challenges] [nvarchar](max) NULL,
	[EvidenceFile] [nvarchar](500) NULL,
	[EmployeeComment] [nvarchar](max) NULL,
	[SubmittedDate] [datetime] NOT NULL,
	[Status] [varchar](30) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuarterUpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_EmployeeHierarchy_Current]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_EmployeeHierarchy_Current] ON [dbo].[EmployeeHierarchy]
(
	[UserID] ASC
)
WHERE ([IsCurrent]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_BusinessHead]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_BusinessHead] ON [dbo].[Employees]
(
	[BusinessHeadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_CFO]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_CFO] ON [dbo].[Employees]
(
	[CFOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Code]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Code] ON [dbo].[Employees]
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_Department]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Department] ON [dbo].[Employees]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Email]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Email] ON [dbo].[Employees]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_HOD]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_HOD] ON [dbo].[Employees]
(
	[HODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Location]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Location] ON [dbo].[Employees]
(
	[Location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_Manager]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Manager] ON [dbo].[Employees]
(
	[ReportingManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Status]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Status] ON [dbo].[Employees]
(
	[EmploymentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_CreatedAt]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_CreatedAt] ON [dbo].[Notifications]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_IsRead]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_IsRead] ON [dbo].[Notifications]
(
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_User]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_User] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Permissions_Display]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Permissions_Display] ON [dbo].[Permissions]
(
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Permissions_Module]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Permissions_Module] ON [dbo].[Permissions]
(
	[ModuleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Permissions_Parent]    Script Date: 07/28/2026 12:30:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Permissions_Parent] ON [dbo].[Permissions]
(
	[ParentPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [PerformedDate]
GO
ALTER TABLE [dbo].[BusinessHeadRatings] ADD  DEFAULT (getdate()) FOR [ReviewedDate]
GO
ALTER TABLE [dbo].[BusinessHeadRatings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CFORatings] ADD  DEFAULT (getdate()) FOR [ReviewedDate]
GO
ALTER TABLE [dbo].[CFORatings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeeHierarchy] ADD  DEFAULT ((1)) FOR [IsCurrent]
GO
ALTER TABLE [dbo].[EmployeeHierarchy] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ErrorLogs] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[GoalHistory] ADD  DEFAULT (getdate()) FOR [PerformedDate]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT ((0)) FOR [CrossFunctionalGoal]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT ((1)) FOR [DraftVersion]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[GoalSubGoals] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HODRatings] ADD  DEFAULT (getdate()) FOR [ReviewedDate]
GO
ALTER TABLE [dbo].[HODRatings] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT (newid()) FOR [SessionID]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordHistory] ADD  DEFAULT (getdate()) FOR [ChangedDate]
GO
ALTER TABLE [dbo].[PasswordHistory] ADD  DEFAULT ((0)) FOR [IsDefaultPassword]
GO
ALTER TABLE [dbo].[PasswordHistory] ADD  DEFAULT ((1)) FOR [PasswordVersion]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((1)) FOR [CanView]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanCreate]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanApprove]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanExport]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((1)) FOR [IsMenu]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QuarterlyUpdates] ADD  DEFAULT (getdate()) FOR [SubmittedDate]
GO
ALTER TABLE [dbo].[QuarterlyUpdates] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsPasswordChanged]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [DefaultPasswordFlag]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [FailedLoginCount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[BusinessHeadRatings]  WITH CHECK ADD  CONSTRAINT [FK_BusinessHeadRatings_Goals] FOREIGN KEY([GoalID])
REFERENCES [dbo].[Goals] ([GoalID])
GO
ALTER TABLE [dbo].[BusinessHeadRatings] CHECK CONSTRAINT [FK_BusinessHeadRatings_Goals]
GO
ALTER TABLE [dbo].[BusinessHeadRatings]  WITH CHECK ADD  CONSTRAINT [FK_BusinessHeadRatings_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BusinessHeadRatings] CHECK CONSTRAINT [FK_BusinessHeadRatings_ReviewedBy]
GO
ALTER TABLE [dbo].[CFORatings]  WITH CHECK ADD  CONSTRAINT [FK_CFORatings_Goals] FOREIGN KEY([GoalID])
REFERENCES [dbo].[Goals] ([GoalID])
GO
ALTER TABLE [dbo].[CFORatings] CHECK CONSTRAINT [FK_CFORatings_Goals]
GO
ALTER TABLE [dbo].[CFORatings]  WITH CHECK ADD  CONSTRAINT [FK_CFORatings_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CFORatings] CHECK CONSTRAINT [FK_CFORatings_ReviewedBy]
GO
ALTER TABLE [dbo].[EmployeeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeHierarchy_BusinessHead] FOREIGN KEY([BusinessHeadID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeHierarchy] CHECK CONSTRAINT [FK_EmployeeHierarchy_BusinessHead]
GO
ALTER TABLE [dbo].[EmployeeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeHierarchy_CFO] FOREIGN KEY([CFOID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeHierarchy] CHECK CONSTRAINT [FK_EmployeeHierarchy_CFO]
GO
ALTER TABLE [dbo].[EmployeeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeHierarchy_HOD] FOREIGN KEY([HODID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeHierarchy] CHECK CONSTRAINT [FK_EmployeeHierarchy_HOD]
GO
ALTER TABLE [dbo].[EmployeeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeHierarchy_ReportingManager] FOREIGN KEY([ReportingManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeHierarchy] CHECK CONSTRAINT [FK_EmployeeHierarchy_ReportingManager]
GO
ALTER TABLE [dbo].[EmployeeHierarchy]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeHierarchy_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EmployeeHierarchy] CHECK CONSTRAINT [FK_EmployeeHierarchy_User]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_BusinessHead] FOREIGN KEY([BusinessHeadID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_BusinessHead]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_CFO] FOREIGN KEY([CFOID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_CFO]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Department]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_HOD] FOREIGN KEY([HODID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_HOD]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_ReportingManager] FOREIGN KEY([ReportingManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_ReportingManager]
GO
ALTER TABLE [dbo].[ErrorLogs]  WITH CHECK ADD  CONSTRAINT [FK_ErrorLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ErrorLogs] CHECK CONSTRAINT [FK_ErrorLogs_Users]
GO
ALTER TABLE [dbo].[GoalHistory]  WITH CHECK ADD  CONSTRAINT [FK_GoalHistory_Goals] FOREIGN KEY([GoalID])
REFERENCES [dbo].[Goals] ([GoalID])
GO
ALTER TABLE [dbo].[GoalHistory] CHECK CONSTRAINT [FK_GoalHistory_Goals]
GO
ALTER TABLE [dbo].[GoalHistory]  WITH CHECK ADD  CONSTRAINT [FK_GoalHistory_PerformedBy] FOREIGN KEY([PerformedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GoalHistory] CHECK CONSTRAINT [FK_GoalHistory_PerformedBy]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_ParentGoal] FOREIGN KEY([ParentGoalID])
REFERENCES [dbo].[Goals] ([GoalID])
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_ParentGoal]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_User]
GO
ALTER TABLE [dbo].[GoalSubGoals]  WITH CHECK ADD  CONSTRAINT [FK_GoalSubGoals_Goals] FOREIGN KEY([GoalID])
REFERENCES [dbo].[Goals] ([GoalID])
GO
ALTER TABLE [dbo].[GoalSubGoals] CHECK CONSTRAINT [FK_GoalSubGoals_Goals]
GO
ALTER TABLE [dbo].[HODRatings]  WITH CHECK ADD  CONSTRAINT [FK_HODRatings_Goals] FOREIGN KEY([GoalID])
REFERENCES [dbo].[Goals] ([GoalID])
GO
ALTER TABLE [dbo].[HODRatings] CHECK CONSTRAINT [FK_HODRatings_Goals]
GO
ALTER TABLE [dbo].[HODRatings]  WITH CHECK ADD  CONSTRAINT [FK_HODRatings_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[HODRatings] CHECK CONSTRAINT [FK_HODRatings_ReviewedBy]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistory_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHistory_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_User]
GO
ALTER TABLE [dbo].[PasswordHistory]  WITH CHECK ADD  CONSTRAINT [FK_PasswordHistory_ChangedBy] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PasswordHistory] CHECK CONSTRAINT [FK_PasswordHistory_ChangedBy]
GO
ALTER TABLE [dbo].[PasswordHistory]  WITH CHECK ADD  CONSTRAINT [FK_PasswordHistory_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PasswordHistory] CHECK CONSTRAINT [FK_PasswordHistory_User]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_Parent] FOREIGN KEY([ParentPermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_Permissions_Parent]
GO
ALTER TABLE [dbo].[QuarterlyUpdates]  WITH CHECK ADD  CONSTRAINT [FK_QuarterlyUpdates_Goals] FOREIGN KEY([GoalID])
REFERENCES [dbo].[Goals] ([GoalID])
GO
ALTER TABLE [dbo].[QuarterlyUpdates] CHECK CONSTRAINT [FK_QuarterlyUpdates_Goals]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Department]
GO
ALTER TABLE [dbo].[BusinessHeadRatings]  WITH CHECK ADD CHECK  (([FinalRating]>=(0.0) AND [FinalRating]<=(5.0)))
GO
ALTER TABLE [dbo].[BusinessHeadRatings]  WITH CHECK ADD CHECK  (([Quarter]='Q4' OR [Quarter]='Q3' OR [Quarter]='Q2' OR [Quarter]='Q1'))
GO
ALTER TABLE [dbo].[BusinessHeadRatings]  WITH CHECK ADD CHECK  (([Rating]>=(0.0) AND [Rating]<=(5.0)))
GO
ALTER TABLE [dbo].[CFORatings]  WITH CHECK ADD CHECK  (([Quarter]='Q4' OR [Quarter]='Q3' OR [Quarter]='Q2' OR [Quarter]='Q1'))
GO
ALTER TABLE [dbo].[CFORatings]  WITH CHECK ADD CHECK  (([Rating]>=(0.0) AND [Rating]<=(5.0)))
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Employees_Status] CHECK  (([EmploymentStatus]='Inactive' OR [EmploymentStatus]='Active'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Employees_Status]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD CHECK  (([GoalStatus]='Cancelled' OR [GoalStatus]='Completed' OR [GoalStatus]='Rejected' OR [GoalStatus]='Business Head Approved' OR [GoalStatus]='HOD Approved' OR [GoalStatus]='Submitted' OR [GoalStatus]='Draft' OR [GoalStatus]='Running'))
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD CHECK  (([GoalStatus]='Postpone' OR [GoalStatus]='Cancelled' OR [GoalStatus]='Completed' OR [GoalStatus]='Running' OR [GoalStatus]='Rejected' OR [GoalStatus]='Approved' OR [GoalStatus]='Business Head Approved' OR [GoalStatus]='HOD Approved' OR [GoalStatus]='Submitted' OR [GoalStatus]='Draft'))
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD CHECK  (([Priority]='Critical' OR [Priority]='High' OR [Priority]='Medium' OR [Priority]='Low'))
GO
ALTER TABLE [dbo].[GoalSubGoals]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='In Progress' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[HODRatings]  WITH CHECK ADD CHECK  (([AchievementPercentage]>=(0.00) AND [AchievementPercentage]<=(100.00)))
GO
ALTER TABLE [dbo].[HODRatings]  WITH CHECK ADD CHECK  (([Quarter]='Q4' OR [Quarter]='Q3' OR [Quarter]='Q2' OR [Quarter]='Q1'))
GO
ALTER TABLE [dbo].[HODRatings]  WITH CHECK ADD CHECK  (([Rating]>=(0.0) AND [Rating]<=(5.0)))
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD CHECK  (([Status]='LoggedOut' OR [Status]='Failed' OR [Status]='Success'))
GO
ALTER TABLE [dbo].[QuarterlyUpdates]  WITH CHECK ADD CHECK  (([Quarter]='Q4' OR [Quarter]='Q3' OR [Quarter]='Q2' OR [Quarter]='Q1'))
GO
ALTER TABLE [dbo].[QuarterlyUpdates]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Reviewed' OR [Status]='Submitted' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='BusinessHead' OR [Role]='HOD' OR [Role]='Employee'))
GO
USE [master]
GO
